<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact me</title>
    <link href="https://s1.ax1x.com/2018/02/20/9N15Kf.png" rel="icon" type="image/x-icon" />

</head>
<body>
<div class="main" style="text-align: center;background-color: #fff;border-radius: 20px;width: 300px;height: 350px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
    <h1>Ooooops...<br>你来到了未知的地方</h1>
    <br>
    <a href="mailto:unixsudo@outlook.com">Contact me</a>
    <br>
</div>
</body>
</html>