<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>牛客 - 与世界分享你的知识、经验和见解</title>
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../styles/pages/detail.css">
</head>
<body>
    <div class="pop-layer"></div>
    <div class="pop-box" style="left: 70%;">
        <div class="pop-head">
            <span class="pop-tit">发送私信</span>
            <span class="icon-close"></span>
        </div>
        <div class="pop-content">
            <div class="pop-form-wrap">
                <form class="">
                    <div class="your-question">
                        <div class="remark-head">发给：</div>
                        <div class="your-question-input">
                            <textarea rows="1" class="" title="在这里输入问题" aria-label="写下你的问题" placeholder="姓名" role="combobox" aria-autocomplete="list" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="your-question">
                        <div class="remark-head">内容：</div>
                        <div class="remark-container">
                            <div class="remark-wrap">
                                <div class="editor-field-wrap">
                                    <div class="editor-field-element" g_editable="true" role="textbox" contenteditable="true">
                                        <p><span class="remark-tips">私信内容</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pop-submit-wrap">
                        <span class="pop-tag-err">错误提示信息</span>
                        <a href="javascript:;" name="cancel" class="btn-cancel">取消</a>
                        <a href="javascript:;" name="addq" class="btn-submit">发布</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
